data/pdb_data_no_dups.csv filter=lfs diff=lfs merge=lfs -text
data/pdb_data_seq.csv filter=lfs diff=lfs merge=lfs -text
propuesta.ipynb filter=lfs diff=lfs merge=lfs -text
prueba.ipynb !text !filter !merge !diff
propuesta.ipynb !text !filter !merge !diff
binder/postBuild !text !filter !merge !diff
